.header-wrapper.header-wrapper-index {
  flex-flow: column wrap;
}

.button-login {
  height: 45px;
  width: 180px;
  display: block;
  background: none;
  border: 1px solid #fff;
  border-radius: 23px;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  z-index: 10;
  line-height: 45px;
  @include phone {
    left: 0;
    right: 0;
    margin: auto;
  }
}

.flip-container { // TODO vertical flip
  perspective: 1000px;
  width: 380px;
  height: 395px;
  @include absolute_center;
  //position: relative;
  z-index: 10;
}

.flip-container.rotate .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  //transform: rotateY(180deg);
}

.front {

  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  backface-visibility: hidden;

}

.logo-wrapper-index {
  //margin: auto;
  //width: 379px;
  //@include absolute_center;
  width: 380px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  background-color: rgba(27, 30, 33, 0.5);
  flex-flow: column nowrap;
  justify-content: flex-end;
  border-radius: 5px;
  overflow: hidden;
}

.logo-img__index {
  margin-top: 40px;
}

.logo-index {
  margin: auto;
}

.logo__text-index {
  font-size: 28px;
}

.socials-icon__img-index {
  fill: #96a59c;
}

.menu-buttons {
  margin-top: 30px;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
}

.menu__button {
  //display: inline-block;
  text-align: center;
  line-height: 43px;
  height: 43px;
  box-sizing: border-box;
  border: none;
  background-color: #6c9c5a;
  font-size: 16px;
  font-family: RobotoMedium;
  font-weight: normal;
  color: #fff;
  border-right: 1px solid #dadbd6;
  cursor: pointer;
  opacity: 1;
  //padding-left: 31px;
  //padding-right: 31px;
  width: 100%;
  text-decoration: none;
  &:last-child {
    border: 1px solid #6c9c5a;
    border-radius: 0 0 5px 0;
  }
  &:first-child {
    border-radius: 0 0 0 5px;
  }
  &:hover {
    background-color: #477d38;
  }
}

.footer-bottom.footer-bottom-index {
  height: 60px;
  background: none;
  margin-top: -60px;
  @include phone {
    margin-top: -4.7rem;
    height: auto;
  }
  & .copyright {
    display: inline-block;
  }
}

.underline.underline__index {
  fill: #fff;
  margin-top: 25px;
}

.logo__text-index__back {
  font-size: 35px;
  margin-top: 40px;
}

.login-form__block {
  height: 45px;
  width: 340px;
  position: relative;
  line-height: 45px;
  margin-bottom: 20px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 45px;
    width: 45px;
    background-color: #f0efe9;
    border-radius: 23px 0 0 23px;
    z-index: 1;
  }
  &.error:before {
    border: 1px solid #E44845;
  }
  &.error .login-form__input-login {
    border: 1px solid #E44845;
  }
  &.error .login-form__icon {
    color: #E44845;
  }
  &.noterror:before {
    border: 1px solid #6c9c5a;
  }
  &.noterror .login-form__input-login {
    border: 1px solid #6c9c5a;
  }
  &.noterror .login-form__icon {
    color: #6c9c5a;
  }
}

.login-form__input-login {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 45px;
  width: 340px;
  border: none;
  border-radius: 23px;
  outline: none;
  color: #373e42;
  box-sizing: border-box;
  padding-left: 63px;
  padding-right: 63px;
  overflow: hidden;
  font-family: RobotoRegular;

}

.login-form__icon {
  position: absolute;
  top: 15px;
  left: 19px;
  display: block;
  color: #c4cbcd;
  line-height: 45px;
  text-align: center;
  z-index: 2;
}

.amirobot__checkbox_input {
  position: absolute;
  left: -9999px;
}

.amirobot__checkbox_text {
  font-family: RobotoRegular;
  color: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  &:before {
    font-family: FontAwesome;
    content: '\f00c';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
  }
}

.amirobot__checkbox_input:checked + .amirobot__checkbox_text:before {
  background-color: #6c9c5a;
  color: #fff;
}

.radio-wrap {
  margin-top: 20px;
  text-align: center;
}

.amirobot__radio {
  display: inline-block;
  &:last-child {
    margin-left: 40px;
  }

}

.amirobot__radio_input {
  position: absolute;
  left: -9999px;
}

.amirobot__radio_text {
  font-family: RobotoRegular;
  color: #fff;
  position: relative;
  text-align: center;
  & span {
    line-height: 20px;
    vertical-align: super;
  }
  &:before {
    font-family: FontAwesome;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
  }
  &:after {

  }
}

.amirobot__radio_input:checked + .amirobot__radio_text:after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 6px;
  height: 8px;
  width: 8px;
  background-color: #6c9c5a;
  border-radius: 50%;
}

.notrobot {
  color: #fff;

}

.login-form {
  text-align: center;

}

.tooltip__login {
  display: none;
  height: 45px;
  width: 180px;
  position: relative;
  background-color: #e44845;
  border-radius: 5px;
  margin-left: 45px;
  margin-bottom: 20px;
  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 18px;
    width: 18px;
    top: -9px;
    left: 81px;
    background-color: #e44845;
    transform: rotate(45deg);
    border-radius: 3px 0 0 0;
  }
  &.show {
    display: block;
  }
  & span {
    line-height: 45px;
    color: #fff;
    font-family: RobotoMedium;
  }
}

.tooltip__login--robot {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  &:before {
    display: none;
  }
}

