@mixin desktop {
  @media (max-width: 1920px) {
    @content
  }
}

@mixin tablet {
  @media (max-width: 900px) {
    @content
  }
}

@mixin phone {
  @media (max-width: 568px) {
    @content
  }
}


@mixin absolute_center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
